.Rproj.user
.Rhistory
.RData
.Ruserdata
CA_State_TIGER2016.dbf
PRISM_tdmean_provisional_4kmD2_20210601_bil.stn.csv
PRISM_script.Rmd
PRISM_tdmean_early_4kmD2_20210701_bil.bil
PRISM_tdmean_early_4kmD2_20210701_bil.bil.aux.xml
PRISM_tdmean_early_4kmD2_20210701_bil.hdr
PRISM_tdmean_early_4kmD2_20210701_bil.info.txt
PRISM_tdmean_early_4kmD2_20210701_bil.prj
PRISM_tdmean_early_4kmD2_20210701_bil.stn.csv
PRISM_tdmean_early_4kmD2_20210701_bil.stx
PRISM_tdmean_early_4kmD2_20210701_bil.xml
PRISM_tdmean_provisional_4kmD2_20210101_bil.bil
PRISM_tdmean_provisional_4kmD2_20210101_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210101_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210101_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210101_bil.prj
PRISM_tdmean_provisional_4kmD2_20210101_bil.stn.csv
PRISM_tdmean_provisional_4kmD2_20210101_bil.stx
PRISM_tdmean_provisional_4kmD2_20210101_bil.xml
PRISM_tdmean_provisional_4kmD2_20210201_bil.bil
PRISM_tdmean_provisional_4kmD2_20210201_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210201_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210201_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210201_bil.prj
PRISM_tdmean_provisional_4kmD2_20210201_bil.stn.csv
PRISM_tdmean_provisional_4kmD2_20210201_bil.stx
PRISM_tdmean_provisional_4kmD2_20210201_bil.xml
PRISM_tdmean_provisional_4kmD2_20210301_bil.bil
PRISM_tdmean_provisional_4kmD2_20210301_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210301_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210301_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210301_bil.prj
PRISM_tdmean_provisional_4kmD2_20210301_bil.stn.csv
PRISM_tdmean_provisional_4kmD2_20210301_bil.stx
PRISM_tdmean_provisional_4kmD2_20210301_bil.xml
PRISM_tdmean_provisional_4kmD2_20210401_bil.bil
PRISM_tdmean_provisional_4kmD2_20210401_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210401_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210401_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210401_bil.prj
PRISM_tdmean_provisional_4kmD2_20210401_bil.stn.csv
PRISM_tdmean_provisional_4kmD2_20210401_bil.stx
PRISM_tdmean_provisional_4kmD2_20210401_bil.xml
PRISM_tdmean_provisional_4kmD2_20210501_bil.bil
PRISM_tdmean_provisional_4kmD2_20210501_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210501_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210501_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210501_bil.prj
PRISM_tdmean_provisional_4kmD2_20210501_bil.stn.csv
PRISM_tdmean_provisional_4kmD2_20210501_bil.stx
PRISM_tdmean_provisional_4kmD2_20210501_bil.xml
PRISM_tdmean_provisional_4kmD2_20210601_bil.bil
PRISM_tdmean_provisional_4kmD2_20210601_bil.bil.aux.xml
PRISM_tdmean_provisional_4kmD2_20210601_bil.hdr
PRISM_tdmean_provisional_4kmD2_20210601_bil.info.txt
PRISM_tdmean_provisional_4kmD2_20210601_bil.prj
PRISM_tdmean_provisional_4kmD2_20210601_bil.stx
PRISM_tdmean_provisional_4kmD2_20210601_bil.xml
fire.Rmd
PRISM_ppt_30yr_normal_4kmM2_annual_bil.bil
PRISM_ppt_30yr_normal_4kmM2_annual_bil.bil.aux.xml
PRISM_ppt_30yr_normal_4kmM2_annual_bil.hdr
PRISM_ppt_30yr_normal_4kmM2_annual_bil.info.txt
PRISM_ppt_30yr_normal_4kmM2_annual_bil.prj
PRISM_ppt_30yr_normal_4kmM2_annual_bil.stn.csv
PRISM_ppt_30yr_normal_4kmM2_annual_bil.stx
PRISM_ppt_30yr_normal_4kmM2_annual_bil.xml
PRISM_ppt_tmean_tdmean_early_4km_20210101_20210701_36.2172_-121.2390.csv
CA_State_TIGER2016.cpg
CA_State_TIGER2016.prj
CA_State_TIGER2016.sbn
CA_State_TIGER2016.sbx
CA_State_TIGER2016.shp
CA_State_TIGER2016.shp.xml
CA_State_TIGER2016.shx
